Pertemuan 3 - Modul 6 - Tugas 4.json
{
  "name": "Pertemuan 3 - Modul 6 - Tugas 4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        80,
        128
      ],
      "id": "cbcf5f6d-62ed-4b73-b32a-2c6450d0d3a9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Ambil waktu sekarang di Jakarta\nconst sekarang = new Date();\nlet postsToSend = [];\n\nfor (const item of $input.all()) {\n  const tgl = item.json[\"Scheduled Date\"]; // Contoh: 11/02/2026\n  const jam = item.json[\"Scheduled Time\"]; // Contoh: 9:30:00\n  \n  // Ubah format DD/MM/YYYY ke format standar (YYYY-MM-DD)\n  const parts = tgl.split('/');\n  const tglStandar = `${parts[2]}-${parts[1]}-${parts[0]}`;\n  \n  // Buat objek waktu jadwal\n  const waktuJadwal = new Date(`${tglStandar}T${jam}`);\n\n  // Cek jika waktu sekarang sudah melewati jadwal\n  if (waktuJadwal <= sekarang) {\n    postsToSend.push(item);\n  }\n}\n\nreturn postsToSend;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        128
      ],
      "id": "ad5f42e1-8a19-4e8d-a93d-1848cbf31714",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "5701993759",
        "text": "={{ $json.Content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        320
      ],
      "id": "97833129-272a-4819-9c13-bbc02dc2f60e",
      "name": "Send a text message",
      "webhookId": "70e62bcb-c7cc-4ebd-a7aa-a7e734235fd4",
      "credentials": {
        "telegramApi": {
          "id": "iHhuo0IrSpXaEYSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "314f089a-89ea-429d-8d57-c15b376deb6e",
              "name": "row_number",
              "value": "={{ $node[\"Get row(s) in sheet\"].json[\"row_number\"] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        320
      ],
      "id": "1cfb12b0-5889-4df2-ac04-8d8cc9b93424",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IhSlfcl54qtNcp647raYVErSydduuWNIloYKkOJZuqE",
          "mode": "list",
          "cachedResultName": "Salinan dari Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IhSlfcl54qtNcp647raYVErSydduuWNIloYKkOJZuqE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IhSlfcl54qtNcp647raYVErSydduuWNIloYKkOJZuqE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Published",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Time",
              "displayName": "Scheduled Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        320
      ],
      "id": "33aed432-d9dd-490d-9497-42c0d1707cee",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p8GM3GlXyqpf2oNP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IhSlfcl54qtNcp647raYVErSydduuWNIloYKkOJZuqE",
          "mode": "list",
          "cachedResultName": "Salinan dari Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IhSlfcl54qtNcp647raYVErSydduuWNIloYKkOJZuqE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IhSlfcl54qtNcp647raYVErSydduuWNIloYKkOJZuqE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        128
      ],
      "id": "7f3a53b6-a038-4551-a0ff-95d28c2d574e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p8GM3GlXyqpf2oNP",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "45d88780-1ed0-4d1c-bc9c-3fa7c8fb3bbc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32c0ef153f7930e565ad160435282be5c9c56963458788d102e98ccae3c60878"
  },
  "id": "BzVwPvwa54ESsAE6",
  "tags": []
}